body {
    background: grey url("../Imgs/background.jpg");
    margin: 0;
}

header {
    background-color: white;
    border-bottom: solid 2px grey;
    padding-right: 50px;
}


h1 {
    background: #31CEC9;
    Font-size: 32px;
    color:white;
    margin-left: 6.1%;
    margin-right: 10%;
    padding: 20px;
    margin-top:0;
    margin-bottom:0;
    display: inline-block;
    font-family: helvetica, arial, sans-serif;
}

nav {
    display: inline-block;
    margin-left: 30%;
}

a {
    margin-right: 24px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
}

h2 {
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
    color: #31CEC9;
    font-family: helvetica, arial, sans-serif;
}

.contactsection {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

#replyname {
    border: 2px solid #b4b4b4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 2px;
}

#replyemail {
    border: 2px solid #b4b4b4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 4px;
}

#replymessage {
    border: 2px solid #b4b4b4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 4px;
    font-style: italic;
    padding-bottom: 200px;
    padding-top: 6px;
}

#aboutme {
    background:white;
    padding: 20px;
    margin: 30px 80px 20px 80px;
    font-family: helvetica, arial, sans-serif; 
    width: 40%; 
    float: left;
    font-size: 18px;
    color: #515757;
}

#portfolio {
    background:white;
    padding: 20px;
    margin: 30px 10px 30px 80px;
    font-family: helvetica, arial, sans-serif; 
    width: 40%; 
    float: left;
    font-size: 18px;
    color: #515757;
}


.imageportfolio {
    width:90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: -60px; 
}

.portfolioname {
    margin-top: 10px;
    background: #31CEC9;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 12px;
    position: relative;
    z-index: 2;
    Box-shadow: 2px 5px 5px #474444;
    top: -1em;
    font-weight: bold;
    color: white;
}

#submit {
    background:#31CEC9;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px 200px 5px 200px; 
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

#contactmemsj {
    background:white;
    padding: 20px;
    margin: 30px 80px 20px 80px;
    font-family: helvetica, arial, sans-serif; 
    width: 40%; 
    float: left;
    font-size: 18px;
    color: #515757;
}

img {
    width: 100%;
}

.contactme {
    background:white;
    padding: 20px;
    margin: 30px 80px 20px 80px;
    font-family: helvetica, arial, sans-serif;  
    width: 30%; 
    float: right;
}
#github {
    width: 80px;
    margin-right: 40px;
    margin-left: 35px;
    }
#linkedin {
     width: 80px;
     margin-right: 30px;
    }
#instagram {
    width: 80px;
    margin-right: 40px;
   }

.group:after {
    content: "";
    clear: both;
    display: table;   
}

p {
    text-align: center;
    line-height: 22px;
}

footer {
    background-color: #515757;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    border-top: 5px solid #31CEC9;
}

#copyright {
    color: white;
}

